<!DOCTYPE html>
<html>
  <%= render "layouts/header" %>
  <body>
    <%= render "layouts/member/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
